/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white; 
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

button{
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden{
  display: none;
}

#greenGameButton {
    background: lightgreen;
}

#greenGameButton:active {
    background:green;
}

#blueGameButton{
  background: lightblue;
}

#blueGameButton:active{
  background: blue;  
}

#redGameButton{
  background: LightCoral;
}

#redGameButton:active{
  background: red;
}

#yellowGameButton{
  background: LightYellow;
}

#yellowGameButton:active{
  background: yellow;
}
